body {
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco{
background-color: #272727;
padding: 10px;
border-radius: 10px;
}

h1{
    color: azure;
}

input{
    background-color: #202020;
    color: azure;
    border-radius: 5px;
    outline: none;
    border-color: azure;
    padding: 5px;
}

select{
    background-color: #272727;
    color: orangered;
    border-radius: 5px;
    border-color: orangered;
    padding: 5px;
}

button{
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.resultado{
    background-color: rgb(70, 94, 94);
    color: #d1d1d1;
    border-radius: 5px;
    border-color: black;
    padding: 2px;
    padding-left: 10px;
    margin: 5px;
    font-size: larger;
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 20px;
}